.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  width: 100%;
}

.card-container .card:nth-child(1) {
  animation-delay: .25s;
}

.card-container .card:nth-child(2) {
  animation-delay: .5s;
}

.card-container .card:nth-child(3) {
  animation-delay: .75s;
}

.card {
  opacity: 0;
  animation: fade-in 0.5s forwards;
  perspective: 40rem;
  margin: auto;
  margin-bottom: 3rem;
}

.card-body {
  background-color: $primary;
  color: white;
  height: 22rem;
  width: 15rem;
  padding: 1.5rem 3rem 3rem 3rem;
  border-radius: 2rem;
  box-shadow: #858585 3px 3px 30px;
  transform-style: preserve-3d;
  transition: .5s transform;
  
  .card:hover & {
    transform: rotateY(-180deg);
  }  
}

.card-front, .card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  backface-visibility: hidden;
}

.card-back { 
  background-color: white;
  color: $primary;
  position: absolute;
  padding-top: 1.5rem;
  border-radius: 2rem;
  top: 0; right: 0; bottom: 0; left: 0;
  transform: rotateY(-180deg);
}

.card-icon {
  font-size: xxx-large;
  margin-bottom: 2rem;
}

.fa-rotate {
  align-self: flex-end;
  position: absolute;
  left: 155px;
  bottom: 20px;
  font-size: x-large;
  animation: nudge 5s infinite;
}

.card-label {
  margin-bottom: 0.5rem;
}

.card-stat {
  margin-bottom: 2rem;
  font-size: 8ch;
}

.date-text {
  font-size: 5.25ch;
  margin-bottom: 0;
}

.time-text {
  font-size: 5.25ch;
}

@keyframes nudge {
  10% {
    transform: rotate(60deg);
  }

  15% {
    transform: rotate(0deg);
  }
  
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }  
}