body {
  background-color: $background;
  font-family: Inter,sans-serif;
}

h1 {
  color: $primary;
  font-size: 6ch;
  margin-top: 2rem;
}

input {
  font-size: 3ch;
  padding: 0.5rem;
  border: 0;
  border-radius: 4rem;
  margin-bottom: 1rem;
  text-align: center;
  transition: box-shadow 0.5s ease-in-out,
              background-color 0.5s ease-in-out;
}

input:focus {
  outline: none;
  box-shadow: inset $primary 0 0 0 1px;
}

input::placeholder {
  font-size: 1em;
  text-align: center;
  transition: font-size 0.5s ease-in-out,
              margin-right 0.5s ease-in-out;
}

input:focus::placeholder {
  font-size: 1ch;
  margin-right: 10em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

  form {
    width: 100%
  }

  input {
    width: 100%;
  }
}