.profile {
  width: 80%;
}

.profile-summary {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.profile-avatar {
  display: flex;
  justify-content: center;

  img {
    border-radius: 15rem;
    width: 10rem;
  }
}

.profile-name {
  font-size: xx-large;
  color: $primary;
}

.profile-meta-data {
  display: flex;
  color: $secondary;

  div {
    margin-right: 15px;
  }
}