$background: #F2EDEB;
$primary: #F05365;
$secondary: #858585;
$white: #FFFFFF;

body {
  background-color: $background;
  font-family: Inter,sans-serif;
}

h1 {
  color: $primary;
}

input {
  font-size: 2vw;
  padding: 0.5rem;
  border: 0;
  border-radius: 4rem;
  margin-bottom: 1rem;
  text-align: center;
  transition: box-shadow 0.5s ease-in-out;
}

input:focus {
  outline: none;
  box-shadow: inset $primary 0 0 0 1px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

  form {
    width: 100%
  }

  input {
    width: 100%;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.profile-summary {
  display: flex;
  align-self: center;
  opacity: .3;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.profile-avatar {
  img {
    border-radius: 15rem;
    width: 10rem;
    margin-right: 3rem;
  }
}

.profile-name {
  font-size: xx-large;
  color: $primary;
}

.profile-meta-data {
  display: flex;
  color: $secondary;

  div {
    margin-right: 15px;
  }
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary;
  color: $white;
  width: 15rem;
  padding: 1.5rem 3rem 3rem 3rem;
  border-radius: 2rem;
  box-shadow: #858585 3px 3px 30px;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.card-container .card:nth-child(1) {
  animation-delay: .25s;
}

.card-container .card:nth-child(2) {
  animation-delay: .5s;
}

.card-container .card:nth-child(3) {
  animation-delay: .75s;
}

.card-icon {
  font-size: xxx-large;
  margin-bottom: 2rem;
}

.card-label {
  margin-bottom: 0.5rem;
}

.card-stat {
  margin-bottom: 2rem;
  font-size: 8ch;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }  
}